@import url('../scripts/vendor/bootstrap/dist/css/bootstrap.css');

body {
  font-family: 'Georgia';
  background-color: #eee;
  color: #444;
}

h1, h2 {
  text-align: center;
}

.nav {
  width: 50%;
  margin: 0 auto; /*align the div in the center*/
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    margin-right:-4px;
}

/* SVG graphics*/
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

