@import url('../scripts/vendor/bootstrap/dist/css/bootstrap.css');
@import url('../scripts/vendor/ladda-bootstrap/dist/ladda-themeless.css');

body {
  font-family: 'Georgia';
  /*background-color: #eee;*/
  color: #444;
}

h1, h2 {
  text-align: center;
}

.nav {
  width: 50%;
  margin: 0 auto; /*align the div in the center*/
  padding-bottom: 30px;
}

.important_text {
	font-size: 1.5em;
}

#structure_table tr td:hover{
  cursor: pointer;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    margin-right:-4px;
}

/* SVG graphics*/
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
