<h3>Please select which group of Ubuiquitin like structures to browse</h3>

<div class="row row-centered">
	<div class="col-md-5 col-centered"><a href="#browse/CJ"> Conjugated structures <img class="img-responsive" src="../images/CJ_4AUQ.png" alt="Conjugated Dataset"> </a></div>
	<div class="col-md-5 col-centered"><a href="#browse/MU">Mono-ubuiqtin structures <img class="img-responsive" src="../images/MU_1UBQ.png" alt="Mono-ubuiquitin"> </a></div>
	<div class="col-md-5 col-centered"><a href="#browse/NC">Non-conjugated structures <img class="img-responsive" src="../images/NC_2C7N.png" alt="Non-conjugated Dataset"> </a></div>
	<div class="col-md-5 col-centered"><a href="#browse/UC">Ubiquitin chains <img class="img-responsive" src="../images/UC_3NOB.png" alt="Ubiquitin chains"> </a></div>
</div>
