<div class="col-md-4">
    <img class="img-responsive" src="/ubsrd/images/MU_1UBQ.png" alt="Mono-ubuiquitin" style="height: 300px; width: 300px; float: left;">
</div>
<div class="col-md-8">
    <h3>What is UbSRD?</h3>
    <p>
        UbSRD is a resource created to help classify and search
        ubiquitin-like fold containing structures. UbSRD also provides relational database interface for simplified analysis of
        the structural features of ubiqutin-like molecules and their interaction partners. Structures in UbSRD are grouped by ubiquitin-like fold type 
        and mode of protein-protein interaction, then we used the scientific benchmarking tools in 
        Rosetta3 to catalouge various features of this set <sup><a href="http://www.ncbi.nlm.nih.gov/pubmed/23422428">1</a></sup>.
        The purpose of this website is to 
        provide a frontend for simple browsing of the UbSRD database. To interact with the 
        database online, start with the <a href="/#browse/structure"> structure browsing page</a>.
        To do more complex structural analysis, download the database and check out our 
        <a href="/#examples">example analysis</a> page.

    </p>

    <p>
        If you find the data contained in UbSRD useful, please reference our article.
        <br/>
        <blockquote>
        Harrison J.S., Houlihan K., Jacobs T.M., van Doorslaer K., Kuhlman B, <em> UbSRD: the ubiquitin structural relational database. </em>
        </blockquote>

    </p>
    <a class="btn btn-primary btn-lg" id="#download_database" href="/ubsrd/api/download">
        Download Database
        <span class="glyphicon glyphicon-cloud-download"></span>
    </a>
</div>
