<h3>What is UbSRD?</h3>
<img class="img-responsive" src="../images/MU_1UBQ.png" alt="Mono-ubuiquitin" style="height: 300px; width: 300px; float: right;">
<p>
    At it's core UbSRD aims to provide
    a method of probing the various structural features of Ubiquitin and ubiqutin like molecules. The
    purpose of this website is to provide a frontend for simple browsing of the UbSRD database. To start,
    take a look at our <a href="#overview">overview page</a>, which should give
    you a sense of what type of data is stored in the UbSRD database. For example analysis, look at our
    <a href="#example">examples page</a>.
</p>

<p>
    If you find the data contained in UbSRD useful, please reference our article.
    <br/><code>  This is where the publication details go</code>
</p>
<a class="btn btn-primary btn-lg" id="#download_database" href="">
    Download Database
    <span class="glyphicon glyphicon-cloud-download"></span>
</a>
