<p>
Found <%= structures.length %> total structures. 
</p>
<table id="structure_table" class="table table-hover">
	<tr>
		<th style="display: hidden">Structure ID</th>
		<th>PDB Code</th>
		<th>PDB Information</th>
		<th>Ubuiquitin interface type</th>
		<th>Ubuiquitin molecule type</th>
		<th>Residue number 1</th>
		<th>Residue number 2</th>
		<th>UBQ number</th>
		<th>Distance (Angstroms)</th>
	</tr>
	<% _.each(structures, function(structure) { %>
		<tr class="structure_row">
	    	<td style="display: hidden"><%= structure.get('struct_id') %></td>
	    	<td><%= structure.get('pdb_code') %></td>
		    	<td><%= structure.get('pdb_info') %></td>
	    	<td><%= structure.get('inter_type') %></td>
	    	<td><%= structure.get('ubl_type') %></td>
	    	<td><%= structure.get('resNum1') %></td>
	    	<td><%= structure.get('resNum2') %></td>
	    	<td><%= structure.get('real') %></td>
	    	<td><%= structure.get('actcoord_dist') %></td>
		</tr>
    <% }); %>
</table>
