<h3>Please select which group of Ubuiquitin like structures to browse</h3>

<div class="row row-centered">
	<div class="col-md-5 col-centered">
		<a href="#browse/interaction/CJ">
			<img class="img-responsive" src="../images/CJ_4AUQ.png" alt="Conjugated Dataset"> 
			Conjugated structures
		</a>
	</div>
	<div class="col-md-5 col-centered">
		<a href="#browse/interaction/MU">
			<img class="img-responsive" src="../images/MU_1UBQ.png" alt="Mono-ubuiquitin">
			Mono-ubuiqtin structures
		</a>
	</div>
	<div class="col-md-5 col-centered">
		<a href="#browse/interaction/NC">
			<img class="img-responsive" src="../images/NC_2C7N.png" alt="Non-conjugated Dataset">
			Non-conjugated structures 
		</a>
	</div>
	<div class="col-md-5 col-centered">
		<a href="#browse/interaction/UC">
			<img class="img-responsive" src="../images/UC_3NOB.png" alt="Ubiquitin chains">
			Ubiquitin chains
		</a>
	</div>
</div>
