<table class="table table-hover">
	<tr>
		<th style="display: hidden">Structure ID</th>
		<th>PDB Code</th>
		<th>PDB Information</th>
		<th>Ubuiquitin interface type</th>
		<th>Ubuiquitin molecule type</th>
	</tr>
	<% _.each(structures, function(structure) { %>
		<tr class="structure_row">
	    	<td style="display: hidden"><%= structure.get('struct_id') %></td>
	    	<td><%= structure.get('pdb_code') %></td>
	    	<td><%= structure.get('pdb_info') %></td>
	    	<td><%= structure.get('inter_type') %></td>
	    	<td><%= structure.get('ubl_type') %></td>
		</tr>
    <% }); %>
</table>
