<p class="important_text">
	Clicking on an individual structure row in the table below will bring you to structure details page where you can look at 
	the 3D structure of the molecule and view the relevant data in the UbSRD database.
</p>

<form class="form-horizontal">
	<div class="form-group">
	    <label for="interaction_type" class="col-sm-2 control-label">Interaction Type:</label>
    	<div id="interaction_types" class="checkbox">
			<% _.each(interaction_types, function(interacton_type, index) { %>
				<% if (index == 0) { %>
		    		<div class="col-sm-10">
				<% } else { %>
	    			<div class="col-sm-offset-2 col-sm-10">
				<% } %>
	    			<label>
						<input type="checkbox" value=<%= interacton_type.get('ppi_id') %> > <%= interacton_type.get('full_name') %>
	    			</label>
				</div>
		    <% }); %>
		</div>
	</div>
	<div class="form-group">
	    <label for="interaction_type" class="col-sm-2 control-label">Ubiquitin Type:</label>
    	<div id="ubl_types" class="checkbox">
			<% _.each(ubl_types, function(ubl_type, index) { %>
				<% if (index > 0 && index % 5 == 0) { %>
					<% console.log(index) %>
			    	<div class="col-sm-offset-2 col-sm-2">
				<% } else { %>
			    	<div class="col-sm-2">
				<% } %>
		    		<label>
						<input type="checkbox" value=<%= ubl_type.get('ubl_id') %> > <%= ubl_type.get('full_name') %>
					</label>
				</div>
		    <% }); %>
    	</div>
	</div>
	<div class="form-group">
	    <label for="interaction_types" class="col-sm-2 control-label">Partner Type:</label>
    	<div id="target_types" class="checkbox">
			<% _.each(target_types, function(target_types, index) { %>
				<% if (index > 0 && index % 5 == 0) { %>
					<% console.log(index) %>
			    	<div class="col-sm-offset-2 col-sm-2">
				<% } else { %>
			    	<div class="col-sm-2">
				<% } %>
		    		<label>
						<input type="checkbox" value=<%= target_types.get('target_id') %> > <%= target_types.get('full_name') %>
	    			</label>
				</div>
		    <% }); %>
		</div>
	</div>
	<div class="form-group">
	    <label for="interaction_types" class="col-sm-2 control-label">Chain Type:</label>
    	<div id="chain_types" class="checkbox">
			<% _.each(chain_types, function(chain_types, index) { %>
				<% if (index == 0) { %>
		    		<div class="col-sm-10">
				<% } else { %>
	    			<div class="col-sm-offset-2 col-sm-10">
				<% } %>
	    			<label>
						<input type="checkbox" value=<%= chain_types.get('chain_id') %> > <%= chain_types.get('chain_type') %>
	    			</label>
				</div>
		    <% }); %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button id="filter" class="btn btn-default ladda-button" data-style="expand-left" data-spinner-color="#000000">
				<span class="ladda-label">
				Filter structures
			</button>
		</div>
	</div>
</form>

<div id="structure_list">
</div>
