<p>
	Clicking on an individual structure row in the table below will bring you to structure details page where you can look at 
	the 3D structure of the molecule and view the relevant data in the UbSRD database.
</p>

<div>
	<label>Interaction Type</label><br />
	<div id="interaction_types">
		<input type="checkbox" value="MU">Mono Ubiquitin<br />
		<input type="checkbox" value="CJ">Conjugated Ubiqutin<br />
	</div>

	<label>Ubiquitin Type</label><br />
	<div id="ubl_types">
		<input type="checkbox" value="UBQ">Ubiquitin<br />
		<input type="checkbox" value="SUM_1">SUMO 1<br />
	</div>

	<button id="filter">Filter structure</button>
</div>

<div id="structure_list">
</div>
