<p>
Found <%= structures.length %> total structures. 
</p>
<table id="structure_table" class="table table-hover" data-sort-name="pdb" data-sort-order="desc" >
	<thead>
		<tr>
			<th style="display: hidden">Structure ID</th>
			<th data-field="pdb" data-sortable="true">PDB Code</th>
			<th data-sortable="true">PDB Information</th>
			<th data-sortable="true">Ubiquitin interface type</th>
			<th data-sortable="true">Ubiquitin molecule type</th>
			<th data-sortable="true">Partner type</th>
			<th data-sortable="true">Chain type</th>
		</tr>
	</thead>
	<tbody>
	<% _.each(structures, function(structure) { %>
		<tr class="structure_row">
	    	<td style="display: hidden"><%= structure.get('struct_id') %></td>
	    	<td><%= structure.get('pdb_code') %></td>
	    	<td><%= structure.get('pdb_info') %></td>
	    	<td><%= structure.get('inter_type') %></td>
	    	<td><%= structure.get('ubl_type') %></td>
			<td><%= structure.get('target_type') %></td>
			<td><%= structure.get('chain_type') %></td>
		</tr>
    <% }); %>
    </tbody>
</table>
